{% extends '::base.html.twig' %}

{% block base_content %}
    <h2>Add task</h2>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}

    <div class="text-center">
        <button id="button_task_create" type="submit" class="btn-default btn">Create</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
